section {
    padding: 48px;
  }
  
  .hero-container {
    background: url(https://wallpaperset.com/w/full/2/3/7/534900.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.48;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .hero-header {
    color: white;
    padding-bottom: 12px;
    border-bottom: 1px solid #FFFFFF;
  }
  
  .hero-subheader {
    color: white;
  }
  
  .hero-divider {
    height: 3px;
    width: 25%;
    background: #ffffff;
    text-align: center;
  }
  
  .experiences{
    background: #f1f1da;
  }
  
  .profile-image {
    height: 236px;
  }
  
  .contact-link-icon {
    color: #3498db;
    font-size: 42px;
    transition: color 0.2s ease-out;
  }
  
  .contact-link-icon:hover {
    color: #2ecc71;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .uoft{
    padding:12px 0;
  }
  
  .location{
    display: flex;
    flex-direction: row;
  }
  
  .no-bullets{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  .skill-set:hover{
    background: #c9c9c9;
  }
  
  .heading{
    text-align: center;
  }
  
  .skills{
    margin-left: 25%;
    margin-right: 25%;
  }
  .skills-container{
  background-color: #f1f1da;
  }
  
  .experiences-main{
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .skill-score{
    float: right;
  }
  
  .location{
    color: blue;
  }
  